<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties-BT Variations_PCIe-Slot-5</key>
	<dict>
		<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)/Pci(0x3,0x0)/Pci(0x0,0x0)/Pci(0x7,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Slot 5</string>
			<key>device_type</key>
			<string>Network controller</string>
			<key>model</key>
			<string>Broadcom 94360 Wireless Controller</string>
		</dict>
	</dict>
	<key>DeviceProperties-BT Variations_Swapped</key>
	<dict>
		<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)/Pci(0x3,0x0)/Pci(0x0,0x0)/Pci(0x3,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Built In</string>
			<key>device-id</key>
			<data>
			sUMAAA==
			</data>
			<key>device_type</key>
			<string>Network WiFi / BT Controller</string>
			<key>model</key>
			<string>BCM4352 802.11ac Wireless Network Adapter</string>
			<key>name</key>
			<string>AirPort Extreme</string>
			<key>vendor-id</key>
			<data>
			5BQAAA==
			</data>
		</dict>
	</dict>
	<key>DeviceProperties-Firewire-Slot-5</key>
	<dict>
		<key>PciRoot(0x0)/Pci(0x1,0x2)/Pci(0x0,0x0)/Pci(0x3,0x0)/Pci(0x0,0x0)/Pci(0x6,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
		<dict>
			<key>AAPL,slot-name</key>
			<string>Slot 5</string>
			<key>device-id</key>
			<data>
			P4IAAA==
			</data>
			<key>device_type</key>
			<string>Firewire Controller (IEEE 1394)</string>
			<key>model</key>
			<string>TI FIrewire IEEE-1394b OHCI Controller</string>
			<key>name</key>
			<string>FIrewire IEEE-1394b Controller</string>
			<key>vendor-id</key>
			<data>
			TBAAAA==
			</data>
		</dict>
	</dict>
	<key>NVRAM-verbose off</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict>
				<key>DefaultBackgroundColor</key>
				<data>
				AAAAAA==
				</data>
				<key>UIScale</key>
				<data>
				AQ==
				</data>
			</dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string>keepsyms=1 debug=0x100 npci=0x2000 shikigva=80</string>
				<key>bootercfg</key>
				<string>log=0﻿ debug=0 level=0﻿﻿</string>
				<key>csr-active-config</key>
				<data>
				5wMAAA==
				</data>
				<key>nvda_drv</key>
				<data>
				MQ==
				</data>
				<key>prev-lang:kbd</key>
				<data>
				ZW5fVVM6MA==
				</data>
			</dict>
		</dict>
		<key>Block</key>
		<dict/>
		<key>LegacyEnable</key>
		<false/>
		<key>LegacyOverwrite</key>
		<false/>
		<key>LegacySchema</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>EFIBluetoothDelay</string>
				<string>EFILoginHiDPI</string>
				<string>LocationServicesEnabled</string>
				<string>SystemAudioVolume</string>
				<string>SystemAudioVolumeDB</string>
				<string>bluetoothActiveControllerInfo</string>
				<string>bluetoothInternalControllerInfo</string>
				<string>flagstate</string>
				<string>fmm-computer-name</string>
				<string>nvda_drv</string>
				<string>prev-lang:kbd</string>
			</array>
			<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
			<array>
				<string>Boot0080</string>
				<string>Boot0081</string>
				<string>Boot0082</string>
				<string>BootNext</string>
				<string>BootOrder</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
		<key>bootercfg</key>
		<string>log=0﻿ debug=0 level=0﻿﻿</string>
	</dict>
	<key>PlatformInfo-MacPro7,1</key>
	<dict>
		<key>Automatic</key>
		<false/>
		<key>DataHub</key>
		<dict>
			<key>ARTFrequency</key>
			<integer>0</integer>
			<key>BoardProduct</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>BoardRevision</key>
			<data>
			AQ==
			</data>
			<key>DevicePathsSupported</key>
			<integer>1</integer>
			<key>FSBFrequency</key>
			<integer>0</integer>
			<key>InitialTSC</key>
			<integer>0</integer>
			<key>PlatformName</key>
			<string></string>
			<key>SmcBranch</key>
			<data>
			ajEzNwAAAAA=
			</data>
			<key>SmcPlatform</key>
			<data>
			ajEzNwAAAAA=
			</data>
			<key>SmcRevision</key>
			<data>
			AkEPAAAE
			</data>
			<key>StartupPowerEvents</key>
			<integer>0</integer>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
		</dict>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string>C029411014N00001F</string>
			<key>ROM</key>
			<data>
			ESIzAAAA
			</data>
			<key>SpoofVendor</key>
			<false/>
			<key>SupportsCsm</key>
			<true/>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
		</dict>
		<key>PlatformNVRAM</key>
		<dict>
			<key>BID</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1PwAAAAA=
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//PwAAAAA=
			</data>
			<key>MLB</key>
			<string>FILL-IN</string>
			<key>ROM</key>
			<data>
			ESIzAAAA
			</data>
		</dict>
		<key>SMBIOS</key>
		<dict>
			<key>BIOSReleaseDate</key>
			<string>11/08/2019</string>
			<key>BIOSVendor</key>
			<string>Apple Inc.</string>
			<key>BIOSVersion</key>
			<string>1037.80.21.0.0</string>
			<key>BoardAssetTag</key>
			<string></string>
			<key>BoardLocationInChassis</key>
			<string>Part Component</string>
			<key>BoardManufacturer</key>
			<string>Apple Inc.</string>
			<key>BoardProduct</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>BoardSerialNumber</key>
			<string>FILL-IN</string>
			<key>BoardType</key>
			<integer>11</integer>
			<key>BoardVersion</key>
			<string>1.0</string>
			<key>ChassisAssetTag</key>
			<string>Pro-Enclosure</string>
			<key>ChassisManufacturer</key>
			<string>Apple Inc.</string>
			<key>ChassisSerialNumber</key>
			<string>FILL-IN</string>
			<key>ChassisType</key>
			<integer>9</integer>
			<key>ChassisVersion</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1PwAAAAA=
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//PwAAAAA=
			</data>
			<key>MemoryFormFactor</key>
			<integer>9</integer>
			<key>PlatformFeature</key>
			<integer>24</integer>
			<key>ProcessorType</key>
			<integer>3841</integer>
			<key>SmcVersion</key>
			<data>
			AAAAAAAAAAAAAAAAAAAAAA==
			</data>
			<key>SystemFamily</key>
			<string>Mac Pro</string>
			<key>SystemManufacturer</key>
			<string>Apple Inc.</string>
			<key>SystemProductName</key>
			<string>MacPro7,1</string>
			<key>SystemSKUNumber</key>
			<string>Mac-27AD2F918AE68F61</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
			<key>SystemVersion</key>
			<string>1.0</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
	<key>PlatformInfo-iMacPro1,1</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>DataHub</key>
		<dict>
			<key>ARTFrequency</key>
			<integer>25000000</integer>
			<key>BoardProduct</key>
			<string>Mac-7BA5B2D9E42DDD94</string>
			<key>BoardRevision</key>
			<data>
			AQ==
			</data>
			<key>DevicePathsSupported</key>
			<integer>1</integer>
			<key>FSBFrequency</key>
			<integer>0</integer>
			<key>InitialTSC</key>
			<integer>0</integer>
			<key>PlatformName</key>
			<string></string>
			<key>SmcBranch</key>
			<data>
			ajEzNwAAAAA=
			</data>
			<key>SmcPlatform</key>
			<data>
			ajEzNwAAAAA=
			</data>
			<key>SmcRevision</key>
			<data>
			AkEPAAAB
			</data>
			<key>StartupPowerEvents</key>
			<integer>0</integer>
			<key>SystemProductName</key>
			<string>iMacPro1,1</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
		</dict>
		<key>Generic</key>
		<dict>
			<key>AdviseWindows</key>
			<true/>
			<key>MLB</key>
			<string>FILL-IN</string>
			<key>ROM</key>
			<data>
			ESIzAAAA
			</data>
			<key>SpoofVendor</key>
			<true/>
			<key>SystemProductName</key>
			<string>iMacPro1,1</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
		</dict>
		<key>PlatformNVRAM</key>
		<dict>
			<key>BID</key>
			<string>Mac-7BA5B2D9E42DDD94</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1PwAAAAA=
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//PwAAAAA=
			</data>
			<key>MLB</key>
			<string>FILL-IN</string>
			<key>ROM</key>
			<data>
			ESIzAAAA
			</data>
		</dict>
		<key>SMBIOS</key>
		<dict>
			<key>BIOSReleaseDate</key>
			<string>04/22/2019</string>
			<key>BIOSVendor</key>
			<string>Apple Inc.</string>
			<key>BIOSVersion</key>
			<string>1037.80.21.0.0</string>
			<key>BoardAssetTag</key>
			<string></string>
			<key>BoardLocationInChassis</key>
			<string>Part Component</string>
			<key>BoardManufacturer</key>
			<string>Apple Inc.</string>
			<key>BoardProduct</key>
			<string>Mac-7BA5B2D9E42DDD94</string>
			<key>BoardSerialNumber</key>
			<string>FILL-IN</string>
			<key>BoardType</key>
			<integer>10</integer>
			<key>BoardVersion</key>
			<string>1.0</string>
			<key>ChassisAssetTag</key>
			<string>iMacPro-Aluminum</string>
			<key>ChassisManufacturer</key>
			<string>Apple Inc.</string>
			<key>ChassisSerialNumber</key>
			<string>FILL-IN</string>
			<key>ChassisType</key>
			<integer>9</integer>
			<key>ChassisVersion</key>
			<string>Mac-7BA5B2D9E42DDD94</string>
			<key>FirmwareFeatures</key>
			<data>
			/Y/1PwAAAAA=
			</data>
			<key>FirmwareFeaturesMask</key>
			<data>
			/5//PwAAAAA=
			</data>
			<key>MemoryFormFactor</key>
			<integer>9</integer>
			<key>PlatformFeature</key>
			<integer>24</integer>
			<key>ProcessorType</key>
			<integer>0</integer>
			<key>SmcVersion</key>
			<data>
			AAAAAAAAAAAAAAAAAAAAAA==
			</data>
			<key>SystemFamily</key>
			<string>iMac Pro</string>
			<key>SystemManufacturer</key>
			<string>Apple Inc.</string>
			<key>SystemProductName</key>
			<string>iMacPro1,1</string>
			<key>SystemSKUNumber</key>
			<string>Mac-7BA5B2D9E42DDD94</string>
			<key>SystemSerialNumber</key>
			<string>FILL-IN</string>
			<key>SystemUUID</key>
			<string>FILL-IN</string>
			<key>SystemVersion</key>
			<string>1.0</string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
</dict>
</plist>
